<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <block name="title">KobeHome</block>
    </title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
    <block name="addcss"></block>
    <script type="text/javascript" src="__PUBLIC__/Common/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/base.js"></script>
    <block name="addjs"></block>
</head>

<body>
    <div id="nav">
        <div id="nav_msg">
            <span id="logo"><img src="__PUBLIC__/Home/img/logo.png" alt="logo"></span>
            <span id="nav_name">KobeHome</span>
            <span id="msg_menu">
				<ul id="menu_list">
					<li class='list1'><a href="#"><img src="__PUBLIC__/Home/img/cart.png" alt="购物车">&nbsp;购物车</a></li>
					<li class='list1'>
						<if condition="$_SESSION['username'] eq ''">
						<a href="{:U('Login/index')}"><img src="__PUBLIC__/Home/img/user.png" alt="用户">请登录
						</a>
						<else />
						<a href="#"><img src="__PUBLIC__/Home/img/user.png" alt="用户">{$_SESSION['username']}</a>
						<ul class="msg_list msg_list_user" style="display:none">
							<li><a href="{:U('Userinfo/userset')}">个人管理</a></li>
							<li><a href="#">订单管理</a></li>
							<li><a href="#">收藏</a></li>
							<li><a href="{:U('Common/logout')}">注销</a></li>
						</ul>
					</if>
					</li>
					<li class='list1'><a href="#">意见反馈</a></li>
					<li class='list1'><a href="#">帮助</a>
						<ul class="msg_list msg_list_help" style="display:none">
							<li><a href="#">配送服务</a></li>
							<li><a href="#">退换货</a></li>
							<li><a href="#">订单状态</a></li>
							<li><a href="#">尺码表</a></li>
							<li><a href="#">新品发布</a></li>
							<li><a href="#">会员优惠</a></li>
							<li><a href="#">联系我们</a></li>
							<li><a href="#">KobeHome</a></li>
						</ul>
					</li>
				</ul>
			</span>
        </div>
        <div id="nav_menu">
            <div class="nav_menu_box nav_menu_box2">
                <a href="{:U('Index/index')}">
                    <span>
						<img src="__PUBLIC__/Home/img/KOBELOGO.png" style="height:52%;width:60%" alt="下拉"/>
					</span>
                </a>
            </div>
            <div class="nav_menu_box hide_box nav_menu_box2">
                <a href="">
                    <span>鞋类&nbsp;<img src="__PUBLIC__/Home/img/xiala.png" alt="下拉"></span>
                </a>
            </div>
            <div class="nav_menu_box hide_box nav_menu_box2">
                <a href="">
                    <span>服装&nbsp;<img src="__PUBLIC__/Home/img/xiala.png" alt="下拉"></span>
                </a>
            </div>
            <div class="nav_menu_box hide_box nav_menu_box2">
                <a href="">
                    <span>装备&nbsp;<img src="__PUBLIC__/Home/img/xiala.png" alt="下拉"></span>
                </a>
            </div>
            <div class="nav_menu_box hide_box nav_menu_box2">
                <a href="">
                    <span>功能饮料&nbsp;<img src="__PUBLIC__/Home/img/xiala.png" alt="下拉"></span>
                </a>
            </div>
            <div class="nav_menu_box hide_box nav_menu_box2">
                <a href="">
                    <span>主推主题&nbsp;<img src="__PUBLIC__/Home/img/xiala.png" alt="下拉"></span>
                </a>
            </div>
            <div class="nav_menu_box nav_menu_box2" style="width:500px">
                <form>
                    <fieldset class="search">
                        <button class="btn" title="SEARCH"></button>
                        <input type="text" class="box" name="s" id="s" class="inputText" placeholder="搜索KobeHome产品">
                    </fieldset>
                </form>
            </div>
            <div class="nav_menu_box nav_menu_box2 char">
                <span>What I’m doing right now, I’m chasing perfection.</span>
            </div>
            <div class="menu1_hide_box" style="display:none">
                <div class="menu_end">
                    <ul>
                        <li><a href="">篮球</a></li>
                        <li><a href="">休闲</a></li>
                        <li><a href="">跑步</a></li>
                        <li><a href="">训练／健身</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu1_hide_box" style="display:none">
                <div class="menu_end">
                    <ul>
                        <li><a href="">紧身运动服</a></li>
                        <li><a href="">上衣/T恤</a></li>
                        <li><a href="">连帽衫</a></li>
                        <li><a href="">长裤</a></li>
                        <li><a href="">短裤</a></li>
                        <li><a href="">袜</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu1_hide_box" style="display:none">
                <div class="menu_end">
                    <ul>
                        <li><a href="">篮球</a></li>
                        <li><a href="">包</a></li>
                        <li><a href="">帽子/头带</a></li>
                        <li><a href="">手环</a></li>
                        <li><a href="">其他</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu1_hide_box" style="display:none">
                <div class="menu_end">
                    <ul>
                        <li>暂无</li>
                    </ul>
                </div>
            </div>
            <div class="menu1_hide_box" style="display:none">
                <div class="menu_end">
                    <ul>
                        <li><a href="">科比自传</a></li>
                        <li><a href="">最新上市</a></li>
                        <li><a href="">穿搭精选</a></li>
                        <li><a href="">折扣优惠</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <block name="content"></block>
    </div>
    <div id="bottom">
        <div id="bot_msg">
            <ul>
                <li><a href="#">礼品卡</a></li>
                <li><a href="#">附近商店</a></li>
                <li><a href="#">订阅电子邮件</a></li>
                <li><a href="#">注册</a></li>
            </ul>
            <ul>
                <li><a href="#">配送服务</a></li>
                <li><a href="#">退换货</a></li>
                <li><a href="#">订单状态</a></li>
                <li><a href="#">新品发布</a></li>
                <li><a href="#">会员优惠</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <ul>
                <li><a href="#">新闻</a></li>
                <li><a href="#">关于KobeHome</a></li>
                <li><a href="#">投资者</a></li>
                <li><a href="#">招贤纳士</a></li>
                <li><a href="#">新品预览</a></li>
            </ul>
            <ul id="share">
                <li style="font-size:1em;color:#696666;">分享</li>
                <li>
                    <a href="#"><img src="__PUBLIC__/Home/img/weibo.png" alt="微博"></a>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/Home/img/qq.png" alt="腾讯QQ"></a>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/Home/img/weixin.png" alt="微信"></a>
                </li>
            </ul>
            <hr />
            <p>版权所有:852先生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备12345678号</p>
        </div>
    </div>
</body>

</html>