* {
    padding: 0;
    margin: 0;
}

#content_box {
    width: 1175px;
    height: 100%;
    position: relative;
}

.title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #B9B3B3;
    line-height: 60px;
    font-size: 1.3em;
    font-weight: 800;
    padding: 0 0 0 50px;
}

.list_box {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 25px;
}


/* ---- Some Resets ---- */

.list_box p,
.list_box table,
.list_box td,
.list_box tr,
.list_box th {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/* ---- Paragraphs ---- */

.list_box p {
    margin-bottom: 15px;
}


/* ---- Table ---- */

.list_box table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}

.list_box table td,
.list_box table th {
    padding: 5px;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
}

.list_box thead th {
    text-align: center;
    background: #91c5d4;
    font-weight: 900;
}

.list_box tbody td {
    font-size: 0.92em;
}

.list_box tbody td,
.list_box tfoot td {
    text-align: center;
    background: #d5eaf0;
}

.list_box tfoot td {
    background: #d7e1c5;
    font-weight: bold;
}

.list_box tbody tr.odd td {
    background: #bcd9e1;
}


/*弹出层*/

.input_box {
    width: 470px;
    height: 100%;
    margin: 0px auto;
    background-color: #d5eaf0;
}

.input_box table {
    width: 100%;
    height: 450px;
}

.input_box td {
    height: 50px;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    text-align: center;
}

.msg_box input {
    width: 70%;
    height: 30px;
    text-align: left;
}

.input_msg {
    width: 120px;
    font-size: 1em;
    background-color: #91c5d4;
}
