<extend name="Common:base" />
<block name="title">
    <title>KobeHome-商品列表</title>
</block>
<block name="addcss">
    <link href="__PUBLIC__/Admin/css/productlist.css" rel='stylesheet' type='text/css' />
</block>
<block name="addjs">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/style-table.js"></script>
</block>
<block name="content">
    <div id="content_box">
        <div class="title">
            商品列表
        </div>
        <div class="list_box">
            <table id="travel">
                <thead>
                    <tr>
                        <th scope="col">商品编号</th>
                        <th scope="col">商品名称</th>
                        <th scope="col">商品类型</th>
                        <th scope="col">商品款式</th>
                        <th scope="col">商品价格</th>
                        <th scope="col">商品数量</th>
                        <th scope="col">是否上架</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>55</td>
                        <td>55</td>
                        <td>39</td>
                        <td>27</td>
                        <td>39</td>
                        <td>20</td>
                        <td>20</td>
                        <td style="width:180px">23</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>55</td>
                        <td>48</td>
                        <td>32</td>
                        <td>25</td>
                        <td>29</td>
                        <td>20</td>
                        <td>20</td>
                        <td style="width:180px">20</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>36</td>
                        <td>29</td>
                        <td>27</td>
                        <td>31</td>
                        <td>20</td>
                        <td>19</td>
                        <td style="width:180px">21</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>33</td>
                        <td>24</td>
                        <td>20</td>
                        <td>25</td>
                        <td>20</td>
                        <td>15</td>
                        <td style="width:180px">17</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>47</td>
                        <td>39</td>
                        <td>36</td>
                        <td>40</td>
                        <td>20</td>
                        <td>33</td>
                        <td style="width:180px">34</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>69</td>
                        <td>66</td>
                        <td>20</td>
                        <td>43</td>
                        <td>66</td>
                        <td>47</td>
                        <td style="width:180px">58</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>49</td>
                        <td>45</td>
                        <td>37</td>
                        <td>20</td>
                        <td>47</td>
                        <td>42</td>
                        <td style="width:180px">46</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>21</td>
                        <td>16</td>
                        <td>20</td>
                        <td>13</td>
                        <td>15</td>
                        <td>12</td>
                        <td style="width:180px">13</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</block>
